.post-container {
  padding: 10px;
  background: var(--light-gray);
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 10px;
  /* width: 40%; */
}

.post-container div {
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.post-container:hover {
  background: var(--light-blue);
}

.blog-top-section {
  display: flex;
  justify-content: flex-start;
  padding-top: 1vh;
}

.bottom-section {
  /* display: flex;
  flex-direction: row; */
  justify-content: space-between;
}

.read-more,
.likes-and-comments {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
}

/* .read-more {
  justify-content: flex-start;
}

.likes-and-comments {
  justify-content: flex-end;
} */
