.blogHeader {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.8;
  letter-spacing: 0.5px;
  margin-top: 32px;
  margin-bottom: 6px;
}

.blogChoice {
  display: flex;
  justify-content: space-between;
}

.blogRight {
  display: flex;
  padding-top: 2px;
  color: #6d757d;
}

.blogRight:hover {
  color: black;
  cursor: pointer;
  transition: all 0.25s ease;
}

.blogMain {
  font-size: 32px;
  font-weight: 600;
}

.blogSecondary {
  font-size: 20px;
  font-weight: 500;

  padding-top: 10px;
}

.arrowIcon {
  height: 24px;
  width: 24px;

  margin-top: 12px;
  padding: 0;
}

.featuredBlogCard {
  height: 250px;
  display: flex;
  margin-top: 32px;
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.featuredBlogCard:hover {
  background-color: #f3f4f6;
  cursor: pointer;
  transition: all 0.25s ease;
}

.featuredBlogCardImageContainer {
  height: 100%;
  min-width: 450px;
  overflow: hidden;
}
.featuredBlogCardImage {
  display: block;
  min-width: 100%;
  max-height: 100%;
}

.featuredBlogCardInfo {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

.date {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #7389ae;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -2px;
}

.contentPreview {
  padding-top: 3px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: var(--dark-gray);
}

.featureBlogCardBottom {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.bottomRight {
  display: flex;

  padding: 0;
}

.icons {
  display: flex;
  color: var(--dark-gray);
}

.likes {
  display: flex;
  align-items: flex-end;
}

.likesIcon {
  height: 27px;
  width: 27px;
  padding: 0;
  margin-right: 6px;
}

.likesNumber {
  margin: 0;
}

.comments {
  display: flex;
  margin-left: 18px;
  align-items: flex-end;
}

.location {
  margin: 0;
  align-self: flex-end;
  padding: 0;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: white;
  font-weight: 600;
  background-color: #6d757d;
  padding: 2px 5px;
  border-radius: 5px;
}

.readMore {
  align-self: flex-end;
  background-color: var(--green);
  font-weight: 500;
  color: #0a6357;
  padding: 3px 16px;
  border-radius: 3px;
  margin-left: 24px;
  margin-bottom: -2px;
}

.blogContentContainer {
  margin-top: -12px;
  margin-bottom: 128px;
}
.allBlogContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5%;
  margin-top: 24px;
  row-gap: 32px;
  margin-bottom: 86px;
}

.allBlogCardContainer {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.1);
  border-radius: 3px;
  overflow: hidden;
  height: 485px;
  display: flex;
  flex-direction: column;
}

.allBlogCardContainer:hover {
  cursor: pointer;
  background-color: var(--light-gray);
  transition: all 0.25s ease;
}

.imageContainer {
  width: 100%;
  max-height: 100%;
  padding-top: 56.25%;
  background-size: 100% 100%;
}

.infoContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.allTop {
  display: flex;
  justify-content: space-between;
}

.allDate {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  font-size: 16px;
  color: #7389ae;
}

.allLocation {
  text-transform: uppercase;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 2px 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: #6d757d;
}

.allTitle {
  font-weight: bold;
  font-size: 20px;
  margin-top: -6px;
}

.allContent {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: var(--dark-gray);
  margin-top: -4px;
  padding-bottom: 5px;
}

.allCardBottom {
  display: flex;
  justify-content: space-between;
}

.fullBlogContainer {
  margin-top: 48px;
}

.fullHeader {
  display: flex;
  min-height: 350px;
  max-height: 350px;
}

.fullImage {
  width: 55%;
  overflow: hidden;
}
.fullImage img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.fullDate {
  font-size: 24px;
}
.fullTitle {
  font-size: 38px;
}
.fullHeaderRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-gray);
}
.fullLocation {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 6px;
}
.fullContent {
  margin: 64px auto;
  margin-bottom: 40px;
  line-height: 2;
  text-align: justify;
}
.likesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px auto;
  font-size: 20px;
}
.likesIcon {
  width: 32px;
  height: 32px;
}

.commentsContainer {
  margin: 0px auto;
  margin-bottom: 128px;
}

.addComment {
  font-size: 20px;
  background-color: var(--light-blue);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding: 4px 12px;
  border-radius: 3px;
}

.addComment:hover {
  color: white;
  background-color: var(--dark-blue);
  cursor: pointer;
}

.commentContainer {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 6px;
}

.commentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogIconsContainer {
  position: absolute;
  margin-top: 12px;
  margin-left: 12px;
  background-color: white;
  border-radius: 4px;
  padding: 2px 6px;
  display: flex;
}

.pencilIcon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  cursor: pointer;
}

.pencilIcon:hover {
  color: black;
  transform: scale(1.4);
}
.iconsBox {
  display: flex;
}
.commentUser {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.6px;
}

.commentContent {
  margin-top: 2px;
  font-size: 18px;
}

.hoverRed:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.15);
}

.commentFormContainer {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.commentFormContainer input {
  flex: 1;
  border-radius: 3px 0px 0px 3px;
}

.commentSubmit {
  background-color: var(--light-blue);
  color: white;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 7px 0px;
  margin-bottom: 24px;
  cursor: pointer;
}

.commentSubmit:hover {
  background-color: var(--dark-blue);
}
@media only screen and (max-width: 800px) {
  .allBlogContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .imageContainer {
    padding-top: 23.25%;
    overflow: hidden;
  }
  .featuredBlogCardImageContainer {
    display: none;
  }
  .allContent {
    -webkit-line-clamp: 10;
  }
}

.searchForm {
  margin-top: 20px;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
}

.searchForm input {
  width: 500px;
}

.addBlogBtn {
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: white;
  padding: 4px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -6px;
}

.addBlogBtn:hover {
  color: var(--dark-blue);
  background-color: var(--light-blue);
}

.submitAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  border-radius: 3px;
  padding: 6px 0px;
  cursor: pointer;
}

.featuredBtn {
  display: flex;
  border: 1px solid var(--dark-blue);
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 6px 0px;
  margin-bottom: 12px;
  cursor: pointer;
}

.submitAdd:hover {
  background-color: var(--dark-gray);
}
