.navContainer {
  background-color: var(--dark-blue);
}

.navWidth {
  /* max-width: 1260px; */
  display: flex;

  justify-content: space-between;
  margin: 0px auto;
  color: white;
  font-size: 20px;
  padding: 16px 12px;
}

.navCenter {
  position: absolute;
  left: 50%;
  margin-top: -2px;
}

.navCenterLogo {
  position: relative;
  left: -50%;
  font-weight: 600;
  font-size: 24px;
}

.links > * {
  margin-right: 18px;
  text-decoration: none;
  color: white;
}

.links > *:hover {
  color: var(--light-blue);
}

.cartIcon {
  color: white;
  width: 34px;
  height: 34px;
  margin-right: 32px;
}
.cartIcon:hover {
  color: var(--light-blue);
  cursor: pointer;
}

.navRight {
  display: flex;
}

.loginLink {
  background-color: var(--light-blue);
  padding: 0px 20px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginLinkText {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.loginLink:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.loginLink:hover .loginLinkText {
  color: var(--dark-blue);
}

@media only screen and (max-width: 800px) {
  .navWidth {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .navCenterLogo {
    font-size: 5vw;
  }

  /* .navLeft, */
  .links {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .navRight {
    display: flex;
    flex-direction: column;
    justify-content: right;
  } */
}
